
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/AdminStyles/AdminIndex.css">
<div class="admin-welcome">
    <div class="centered-container">
        <h1>Welcome, Admin!</h1>
        <p>We hope you have a productive day..</p>
    </div>
</div>
