body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.container {
    display: flex;
    height: 100%;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: rgba(255, 165, 0, 0.6); /* Transparent Orange */
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;

   
}
.sidebar-spacer {
    flex-grow: 1; /* This will push everything after it to the bottom */
}

    .sidebar:hover {
        background-color: rgba(255, 165, 0, 0.8); /* Slightly less transparent on hover */
    }

    .sidebar .logoLink {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .sidebar .logo img {
        height: 50px;
    }

    .sidebar .logo h2 {
        color: white;
        margin: 0;
    }

.logoLink {
    color: black;
}

.sidebar .menu {
    margin-top: 20px;
}

    .sidebar .menu a {
        display: block;
        color: white;
        padding: 10px 0;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

        .sidebar .menu a:hover {
            background-color: rgba(0, 0, 0, 0.1);
            padding-left: 10px;
        }


.main-content {
    flex-grow: 1;
    overflow: auto;
}
