@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/AdminStyles/AdminIndex.css">
<div class="admin-welcome">
    <div class="centered-container">
        <h1>Welcome to Your Dashboard!</h1>
        <p>This is your Teacher dashboard where you can manage your courses and view your progress.</p>
    </div>
</div>

